<ActionBar class="action-bar">
    <Label class="action-bar-title" text="Browse"></Label>
</ActionBar>

<GridLayout>
    <Image src="https://www.rp.edu.sg/images/default-source/library/floor-directory/library-map-2018.png"></Image>
    <AbsoluteLayout (touch)="onTouch($event)">
        <Label *ngFor="let item of itemList" [top]="item.y" [left]="item.x" [text]="item.text"
            style="color:white; background-color: blue; border-width: 4; border-color: black"></Label>
    </AbsoluteLayout>
</GridLayout>
